body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header h1{
    font-size: xx-large;
    letter-spacing: 3px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #D80286;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    background-image: url(/images/fb501a54a074becf919323c72e2f1b31.jpg);
}
nav {
    background-color: #444;
    padding: 10px 0;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.card a{
    text-decoration: none;
    color: #060505;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    justify-content: center;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/* TARJETAS */
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(20% - 20px); /* Ancho calculado para mostrar 5 tarjetas en una fila */
    max-width: 200px;
    height: 200px;
    background-color: rgb(234, 156, 134);
    margin-right: 10px; 
}
.card img {
    max-width: 100%;
    max-height: 100%;
  }
  
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .card {
        width: calc(33.33% - 20px); /* Cambia el ancho de las tarjetas para mostrar 3 en una fila en dispositivos más pequeños */
        max-width: 300px; /* Ajusta el máximo ancho de las tarjetas */
    }
    .
}

@media (max-width: 480px) {
    .container {
        padding: 5px;
    }
    .card {
        width: calc(50% - 20px); /* Cambia el ancho de las tarjetas para mostrar 2 en una fila en dispositivos aún más pequeños */
        max-width: 300px; /* Ajusta el máximo ancho de las tarjetas */
    }
}
/* FOOTER */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #905151;
}

h3{
    background-color: #f2e5e5;
    margin: 10px;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 15px;
  padding: 10px 18px;
  display: inline-block;
}
h4{
    background-color: #f2e5e5;
    margin: 10px;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 15px;
  padding: 10px 18px;
  display: inline-block;
}
.conScroll{
  width: 300px;
  overflow-x: auto; 
}
.content {
    display: flex; 
    flex-wrap: nowrap; 
    padding: 10px;
  }
  

/* Buscador  y botones*/
 .cajabuscar{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 20px;
    width: 100vw;
    background-color: darkgrey;   
}
.controls button{
    display: inline-block;
}
fieldset{
    display: flex;
    justify-content: space-around;
}
.buttonSearch{
    background-color: #905151;
    margin-left: 10px;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 15px;
  padding: 10px 18px;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.buttonSearch:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
  }
#next:hover  {
    box-shadow: inset -400px 0 0 0 #D80286;
}
.spaceSearch{
    border: 2px solid rgb(216, 2, 134);
    border-radius: 15px;
    display: inline-block;
    padding: 10px 18px;
  font-size: 18px;
}
/* pag detalles */
.elemento img{
    max-width: calc(100% - 20px);
}
.elemento {
    max-width: calc(40% - 20px);
    align-items: center;
    padding: auto;
    margin: auto;
}
.elemento iframe{
    max-width: calc(80%);
}
.elemento p{
    background-color: #f2e5e5;
    margin: 10px;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 15px;
  padding: 10px 18px;
  display: inline-block;
  align-content: center;
}
.container-detalles{
    max-width: 1200px;
    margin: 20px auto;
    justify-content: center;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 480px) {
    .container-detalles{
        display: block;
    }
    .elemento{
        max-width: 100vw;
    }
    
}

/* FORMULARIOS */
.col{
  margin: 10PX;
}
.form {
    background-color:#FFFAF0;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.form h3 {
    text-align: center;
    margin-bottom: 20px;
}

.inputBox {
    position: relative;
    margin-bottom: 20px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.inputBox .text {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #333;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
}


.inputBox input:focus + .text,
.inputBox input:valid + .text {
    top: 0;
    left: 10px;
    font-size: 12px;
    color: #D80286; 
}


.buttonSearch {
    background-color: #D80286;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonSearch:hover {
    background-color: #905151; 
}

